#accordionSearch {
  margin: 15px;
}
.searchFormBtn {
  margin: 10px;
}

.dateFilter {
  margin-left: 10px;
}

#invoiceReportDT {
  text-align: center;
}

.container-fluid {
  margin-bottom: 25px;
  margin-top: 25px;
}
