
    <div class="text-center noselect" style="padding: 150px;">
            <h4 class="modal-title" id="modal-basic-title">Connexion </h4>
            <span style='color:red;font-size: 13px;'>{{textError}}</span>
        <form fxLayout="column" [formGroup]="userForm" autocomplete="off" (keyup.enter)= "setUser()">
            <div class="input-row" fxLayout="row">
                <mat-form-field class="inputField" fxFlex>
                    <input matInput placeholder="Nom d'utilisateur" id="userName" formControlName="userName" type="text" name="nameInput" [appFocusDirective]="true">
                    <mat-error>Nom d'utilisateur est nécessaire</mat-error>
                </mat-form-field>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field class="inputField" fxFlex>
                    <input matInput placeholder="Mot de passe" formControlName="password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error>Mot de passe requis</mat-error>
                </mat-form-field>
            </div>
            
        </form>
        <button mat-raised-button name="addButton" color="primary" (click)="setUser()" [disabled]="!userForm.valid">Connexion</button>

        </div>