<button hidden id="openBtn" (click)="openConnection(connModal)"></button>
<ng-template #connModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Connexion <span style='color:red;font-size: 13px;'>{{textError}}</span></h4>
    </div>
    <div class="modal-body">
        <form fxLayout="column" [formGroup]="userForm" autocomplete="off">
            <div class="input-row" fxLayout="row">
                <mat-form-field class="inputField" fxFlex>
                    <input matInput placeholder="Nom d'Utilisateur" formControlName="userName" type="text" name="nameInput" [appFocusDirective]="true">
                    <mat-error>Nom d'utilisateur est nécessaire</mat-error>
                </mat-form-field>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field class="inputField" fxFlex>
                    <input matInput placeholder="Mot de Passe" formControlName="password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error>Mot de passe requis</mat-error>
                </mat-form-field>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button mat-raised-button name="addButton" color="primary" (click)="setUser()" [disabled]="!userForm.valid">Connexion</button>
    </div>
</ng-template>