<p-contextMenu [target]="contextScope" [model]="rightClick" oncontextmenu="return false;"></p-contextMenu>
<div class="container-fluid noselect">
<hr>

    <table class="table table-striped table-bordered table-hover table-sm noselect " id="historyItemsDT">
        <thead>
        </thead>
        <tbody #contextScope>
        </tbody>
    </table>
</div>
  <div hidden>
    <button id="showDetailsBtn" (click)="openShowDetails()"></button>
    <button id="deletedBtn" (click)="deleteItem()"></button>
    <button id="printBtn" (click)="printFacture()"></button>
    <button id="editBtn" (click)="editFacture()"></button>
  </div>