<div class="container-fluid">
  <mat-button-toggle-group #group="matButtonToggleGroup" style="width:100%" value="supply" class="center">

    <mat-button-toggle routerLink="supply" value="supply" mat-raised-button color="primary">
      <i class="material-icons">local_shipping</i>
      Entree Stock
    </mat-button-toggle>

    <mat-button-toggle routerLink="return" value="return" mat-raised-button color="primary">
      <i class="material-icons">settings_backup_restore</i>
      Retour
    </mat-button-toggle>

    <mat-button-toggle routerLink="client" value="client" mat-raised-button color="primary">
      <i class="material-icons">person</i>
      Facture Client
    </mat-button-toggle>

  </mat-button-toggle-group>


</div>
<hr>
<router-outlet></router-outlet>