<div class="noselect">
  <button mat-icon-button (click)="goBack()">
    <i class="material-icons">arrow_back</i>
  </button>

  <button mat-icon-button (click)="goForward()">
    <i class="material-icons">arrow_forward</i>
  </button>
  <span id="title">
    <b>DMD-Inventory</b> Designed and Developed by <b>E-Safe Solutions</b>
  </span>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark noselect">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div class ="row"> -->

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/facture" routerLinkActive="active">Facture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stock" routerLinkActive="active">Stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients" routerLinkActive="active">Client</a>
        </li>
        <li class="nav-item">
          <span *ngIf="badgeCount > 0"  matBadge="{{badgeCount}}" matBadgeOverlap="false" style="text-align: right;"></span>
          <a class="nav-link" routerLink="/history" routerLinkActive="active">Historique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">Paramètres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reports" routerLinkActive="active">Rapports</a>
        </li>
        </ul>
  </div>
  <div>
    <a style="float: right;"  class="nav-link" routerLink="/logout" routerLinkActive="active">
    <i class="material-icons">power_settings_new</i></a>
  </div>
</nav>