<div class="container-fluid">


  <form [formGroup]="invoiceForm" autocomplete="off" #f="ngForm">
    <div>

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field class="searchClient" fxFlex>

          <input matInput placeholder="Search Client Name" formControlName="searchClient" type="text" name="nameInput"
            [matAutocomplete]="auto" autofocus>

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="setClientName(option.perID,option.per_name)" *ngFor="let option of options"
              [value]="option.name">{{option.per_name}}
              || {{option.per_code}}</mat-option>
          </mat-autocomplete>
          <mat-error> Client name is required</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="itemName" fxFlex>
        <input matInput placeholder="Name" formControlName="clientName" type="text" name="nameInput" [readonly]="true">
      </mat-form-field>

      <mat-form-field class="inputField">
        <input matInput [matDatepicker]="expDateStart" formControlName="invoiceDate" placeholder="Facture Date">
        <mat-datepicker-toggle matSuffix [for]="expDateStart" tabIndex="-1"></mat-datepicker-toggle>
        <mat-datepicker touchUi #expDateStart></mat-datepicker>
        <mat-error> Date is required</mat-error>
      </mat-form-field>

      <mat-form-field class="inputField">
        <input matInput [matDatepicker]="deliveryDate" formControlName="delDate" placeholder="Delivery Date">
        <mat-datepicker-toggle matSuffix [for]="deliveryDate" tabIndex="-1"></mat-datepicker-toggle>
        <mat-datepicker touchUi #deliveryDate></mat-datepicker>
        <mat-error> Date is required</mat-error>
      </mat-form-field>

      <button class="addBtns" id="multiSelectBtn" mat-raised-button color="primary" (click)="openMultiSelect(mutliSelectModal)" style="float:right">
        <i class="material-icons">subdirectory_arrow_left</i> MultiSelect
      </button>

    </div>

    <hr>

    <div formArrayName="items">
      <div *ngFor="let item of itemsForm.controls; let i=index" [formGroupName]="i">

        <mat-form-field fxFlex hidden>
          <input matInput placeholder="Item ID" formControlName="itemID" #itemID type="number">
        </mat-form-field>
        <mat-form-field fxFlex hidden>
          <input matInput placeholder="isDamaged" formControlName="isDamaged" #isDamaged type="number">
        </mat-form-field>
        <mat-form-field fxFlex hidden>
          <input matInput placeholder="colisage" formControlName="colisage" type="number">
        </mat-form-field>
        <mat-form-field fxFlex class="itemName" style="text-align: center;">
          <input matInput placeholder="Name" formControlName="itemName" type="text" name="nameInput" tabIndex="-1"
            [readonly]="true">
        </mat-form-field>
        <mat-form-field fxFlex class="itemInputs">
          <input matInput placeholder="CRT" formControlName="crt" type="number" min="0" onkeydown="javascript: return event.keyCode == 69 ? false : true">
        </mat-form-field>
        <mat-form-field fxFlex class="itemInputs">
          <input matInput placeholder="Piece" formControlName="piece" type="number" min="0" onkeydown="javascript: return event.keyCode == 69 ? false : true">
        </mat-form-field>
        <mat-form-field fxFlex class="itemName">
          <input matInput placeholder="Comment" formControlName="comment" type="text">
        </mat-form-field>

        <button mat-icon-button (click)="deleteItem(i,itemID,isDamaged)" color="warn" tabindex="-1">
          <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
        </button>
      </div>

    </div>

    <button mat-raised-button name="addButton" class="addBtns" color="primary" (click)="addClientInvoice()" [disabled]="!invoiceForm.valid || itemsForm.length == 0">Submit</button>
  </form>
</div>


<ng-template #mutliSelectModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Items</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered table-hover table-sm noselect " id="stockDT">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button mat-raised-button (click)="addItemsToFacture()" color="primary">Add Items</button>
  </div>
</ng-template>