<div class="container-fluid noselect">
  <div class="factureHeader" >
      {{editFactureTitle}}
  </div>


  <form [formGroup]="invoiceForm" autocomplete="off" #f="ngForm">
    <div>

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field class="searchClient" fxFlex>

          <input matInput placeholder="Client" formControlName="clientName" type="text" name="nameInput"
            [matAutocomplete]="auto" autofocus>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearClientName()">
              <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="setClientName(option.perID,option.per_name,option.per_phone,option.per_address)" *ngFor="let option of options"
              [value]="option.name">{{option.per_name}}
              || {{option.per_code}}</mat-option>
          </mat-autocomplete>
          <mat-error> Le nom du client est requis</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="openClientModal(clientModal)">
            <i class="material-icons">add</i> Ajouter un Client
          </button>
      </div>
      <mat-form-field class="itemDateInputs">
        <input matInput formControlName="invoiceDate" placeholder="Date de Commande" readonly=true>
      </mat-form-field>

      <mat-form-field class="itemDateInputs">
        <input appFocusDirective matInput [matDatepicker]="deliveryDate" formControlName="delDate" id="delDate" placeholder="Date de Livraison">
        <mat-datepicker-toggle matSuffix [for]="deliveryDate" tabIndex="-1"></mat-datepicker-toggle>
        <mat-datepicker touchUi #deliveryDate></mat-datepicker>
        <mat-error> Date de livraison est requis</mat-error>
      </mat-form-field>

      <button class="addBtns" id="multiSelectBtn" mat-raised-button color="primary" (click)="openMultiSelect(mutliSelectModal)"
        style="float:right">
        <i class="material-icons">subdirectory_arrow_left</i> Sélection Multiple
      </button>

    </div>

    <hr>
    <div formArrayName="itemsEdit">
        <div *ngFor="let item of itemsEditForm.controls; let i=index" [formGroupName]="i">
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
          *ngIf=" itemsEditForm.controls[i].get('isDeleted').value != 1">
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="Item ID" formControlName="itemID" #itemID type="number">
            </mat-form-field>
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="isDamaged" formControlName="isDamaged" #isDamaged type="number">
            </mat-form-field>
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="colisage" formControlName="colisage" type="number">
            </mat-form-field>
            <mat-form-field fxFlex class="itemName" style="text-align: center;">
              <input matInput placeholder="Article" formControlName="itemName" type="text" name="nameInput" tabIndex="-1"
                [readonly]="true">
            </mat-form-field>
            <mat-form-field fxFlex class="itemInputs">
              <input matInput placeholder="CRT" formControlName="crt" type="number" min="0" id="crtEdit{{i}}"
              onkeydown="javascript: return event.keyCode == 69 ? false : true" (change)="checkQuantityEdit(i)">
            </mat-form-field>
            <mat-form-field fxFlex class="itemInputs">
              <input matInput placeholder="Piece" formControlName="piece" type="number" min="0" id="pieceEdit{{i}}"
              onkeydown="javascript: return event.keyCode == 69 ? false : true" (change)="checkQuantityEdit(i)">
            </mat-form-field>
            <mat-form-field fxFlex class="itemName">
              <input matInput placeholder="Comment" formControlName="comment" type="text">
            </mat-form-field>
            <button mat-icon-button (click)="deleteItemEdit(i)" color="warn" tabindex="-1">
              <mat-icon aria-label="Effacer l'article" title="Effacer l'article">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    <div formArrayName="items">
      <div *ngFor="let item of itemsForm.controls; let i=index" [formGroupName]="i">

        <mat-form-field fxFlex hidden>
          <input matInput placeholder="Item ID" formControlName="itemID" #itemID type="number">
        </mat-form-field>
        <mat-form-field fxFlex hidden>
          <input matInput placeholder="isDamaged" formControlName="isDamaged" #isDamaged type="number">
        </mat-form-field>
        <mat-form-field fxFlex hidden>
          <input matInput placeholder="colisage" formControlName="colisage" type="number">
        </mat-form-field>
        <mat-form-field fxFlex class="itemName" style="text-align: center;">
          <input matInput placeholder="Article" formControlName="itemName" type="text" name="nameInput" tabIndex="-1"
            [readonly]="true">
        </mat-form-field>
        <mat-form-field fxFlex class="itemInputs">
          <input matInput placeholder="CRT" formControlName="crt" type="number" min="0" id="crt{{i}}"
          onkeydown="javascript: return event.keyCode == 69 ? false : true" (change)="checkQuantity(i)">
        </mat-form-field>
        <mat-form-field fxFlex class="itemInputs">
          <input matInput placeholder="Piece" formControlName="piece" type="number" min="0" id="piece{{i}}"
          onkeydown="javascript: return event.keyCode == 69 ? false : true" (change)="checkQuantity(i)">
        </mat-form-field>
        <mat-form-field fxFlex class="itemName">
          <input matInput placeholder="Comment" formControlName="comment" type="text">
        </mat-form-field>

        <button mat-icon-button (click)="deleteItem(i,itemID,isDamaged)" color="warn" tabindex="-1">
          <mat-icon aria-label="Effacer l'article" title="Effacer l'article">close</mat-icon>
        </button>
      </div>

    </div>

    <button mat-raised-button id="update" class="addBtns" color="primary" (click)="editClientInvoice()" [disabled]="!invoiceForm.valid || itemsEditForm.length == 0 || lengthDeleted == 0" >Mis à Jour</button>
    <div id="submit">
      <button mat-raised-button name="addButton" class="addBtns" color="primary" (click)="addClientInvoice()"
        [disabled]="!invoiceForm.valid || itemsForm.length == 0">Soumettre</button>
    </div>
  </form>
</div>


<ng-template #mutliSelectModal let-c="close" let-d="dismiss">
  <div class="modal-header noselect">
    <h4 class="modal-title" id="modal-basic-title">Article</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body noselect">
    <table class="table table-striped table-bordered table-hover table-sm noselect " id="stockDT">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="modal-footer noselect">
    <button mat-raised-button (click)="addItemsToFacture()" color="primary">Ajouter Article</button>
  </div>
</ng-template>

<ng-template #clientModal let-c="close" let-d="dismiss">
    <div class="modal-header noselect">
      <h4 class="modal-title" id="modal-basic-title">Ajouter un client</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body noselect">
      <form fxLayout="column" [formGroup]="clientForm" autocomplete="off">
        <div class="input-row" fxLayout="row">
          <mat-form-field class="inputField" fxFlex>
            <input matInput placeholder="Nom" formControlName="name" type="text" name="nameInput" autofocus>
            <mat-error> Le nom du client est obligatoire avec 3 lettres minimum</mat-error>
          </mat-form-field>
          <span *ngIf="isExist == true" style="color:red"> Client existe!</span>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field class="inputField" fxFlex>
            <input matInput placeholder="Numéro de téléphone" formControlName="phone" type="text">
            <mat-error> Téléphone client est obligatoire</mat-error>
          </mat-form-field>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field class="inputField" fxFlex>
            <input matInput placeholder="Adresse" formControlName="address" type="text">
            <mat-error> L'adresse du client est obligatoire</mat-error>
          </mat-form-field>
        </div>
        
      </form>
    </div>
    <div class="modal-footer noselect">
      <button mat-raised-button name="addButton" color="primary" (click)="addClient()" [disabled]="!clientForm.valid || isExist == true">Ajouter</button>
    </div>
  </ng-template>

<div class="table table-striped noselect" id="printFacture" hidden>
    <div style="float:left;" class="noselect">
        <b>Nom:</b> {{p_clientName}}<br>
        <b>Numéro de téléphone:</b> {{clientPhone.value}}<br>
        <b>Adresse:</b> {{clientAddress.value}}<br>
      </div>
      <div style="float: right;" class="noselect">
        <b>Date de Commande:</b> {{factureDate.value}}<br>
        <b>Date de Livraison:</b> {{delDate.value  | date: 'dd-MM-yyyy'}}<br>
        <b>Code:</b> {{newCode}}
      </div>
      <br>
      <br>
      <br>
      <hr>
    <table class="table table-responsive table-bordered text-center test noselect" style="width:100%;  border-collapse: collapse; border: 1px solid black;">
      <thead>
      <tr>
      <th style="border: 1px solid black;" class="text-center mousetrap" rowspan="2">ARTICLES</th>
      <th style="border: 1px solid black;" class="text-center mousetrap" colspan="2">QUANTITE</th>
      <th style="border: 1px solid black;" class="text-center mousetrap" rowspan="2">P.Unit</th>
              <th style="border: 1px solid black;" class="text-center mousetrap" rowspan="2">Montant</th>
          </tr>
          <tr>
              <th style="border: 1px solid black;" class="text-center mousetrap">CLS/CRT</th>
              <th style="border: 1px solid black;" class="text-center mousetrap">PIECE</th>
          </tr>
      </thead>
    <tbody>
      <tr *ngFor="let item of this.itemsForm.value; let i = index" >
          <td style="border: 1px solid black;">{{item.itemName}}</td>
          <td style="border: 1px solid black;">{{item.crt}}</td>
          <td style="border: 1px solid black;">{{item.piece}}</td>
          <td style="border: 1px solid black;"></td>
          <td style="border: 1px solid black;"></td>
      </tr>
    </tbody>
  </table> 
  <hr>
      <div style="float:left;" class="noselect">
          <label style="font-size: 13px;">Le Responseble</label>
          <label>----------------------</label>
      </div>
      <div style="float:right;" class="noselect">
          <label style="font-size: 13px;">Num de cls/crt</label>
          <label>-----------------------</label>
      </div>
      <br>
      <br>
            <div style="float:left;" class="noselect">
                <label style="font-size: 13px;">Le Client</label>
                <label>-----------------------</label>
            </div>
      <div  style="float:right;" class="noselect">
          <label style="font-size: 13px;">Num de piece</label>
          <label>-----------------------</label>
      </div>
</div>