<div class="container-fluid">
  <div class="factureHeader" >
      {{editFactureTitle}}
  </div>


  <form [formGroup]="invoiceForm" autocomplete="off" #f="ngForm">
    <div>

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field class="searchClient" fxFlex>

          <input matInput placeholder="Rechercher le Nom du Client" formControlName="searchClient" type="text" name="nameInput"
            [matAutocomplete]="auto" autofocus>

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="setClientName(option.perID,option.per_name)" *ngFor="let option of options"
              [value]="option.name">{{option.per_name}}
              || {{option.per_code}}</mat-option>
          </mat-autocomplete>
          <mat-error> Le nom du client est requis</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="openClientModal(clientModal)">
            <i class="material-icons">add</i> Add Client
          </button>
      </div>

      <mat-form-field class="itemName" fxFlex>
        <input matInput placeholder="Nom" formControlName="clientName" type="text" name="nameInput" [readonly]="true">
      </mat-form-field>

      <mat-form-field class="itemDateInputs">
        <input matInput formControlName="invoiceDate" placeholder="Date de Commande" readonly=true>
      </mat-form-field>

      <mat-form-field class="itemDateInputs">
        <input appFocusDirective matInput [matDatepicker]="deliveryDate" formControlName="delDate" placeholder="Date de Livraison">
        <mat-datepicker-toggle matSuffix [for]="deliveryDate" tabIndex="-1"></mat-datepicker-toggle>
        <mat-datepicker touchUi #deliveryDate></mat-datepicker>
        <mat-error> Date de Livraison est requis</mat-error>
      </mat-form-field>

      <button class="addBtns" id="multiSelectBtn" mat-raised-button color="primary" (click)="openMultiSelect(mutliSelectModal)"
        style="float:right">
        <i class="material-icons">subdirectory_arrow_left</i> Sélection Multiple
      </button>

    </div>

    <hr>
    <div formArrayName="itemsEdit">
        <div *ngFor="let item of itemsEditForm.controls; let i=index" [formGroupName]="i">
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
          *ngIf=" itemsEditForm.controls[i].get('isDeleted').value != 1">
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="Item ID" formControlName="itemID" #itemID type="number">
            </mat-form-field>
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="isDamaged" formControlName="isDamaged" #isDamaged type="number">
            </mat-form-field>
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="colisage" formControlName="colisage" type="number">
            </mat-form-field>
            <mat-form-field fxFlex class="itemName" style="text-align: center;">
              <input matInput placeholder="Article" formControlName="itemName" type="text" name="nameInput" tabIndex="-1"
                [readonly]="true">
            </mat-form-field>
            <mat-form-field fxFlex class="itemInputs">
              <input matInput placeholder="CRT" formControlName="crt" type="number" min="0" id="crtEdit{{i}}"
              onkeydown="javascript: return event.keyCode == 69 ? false : true" (change)="checkQuantityEdit(i)">
            </mat-form-field>
            <mat-form-field fxFlex class="itemInputs">
              <input matInput placeholder="Piece" formControlName="piece" type="number" min="0" id="pieceEdit{{i}}"
              onkeydown="javascript: return event.keyCode == 69 ? false : true" (change)="checkQuantityEdit(i)">
            </mat-form-field>
            <mat-form-field fxFlex class="itemName">
              <input matInput placeholder="Comment" formControlName="comment" type="text">
            </mat-form-field>
            <button mat-icon-button (click)="deleteItemEdit(i)" color="warn" tabindex="-1">
              <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    <div formArrayName="items">
      <div *ngFor="let item of itemsForm.controls; let i=index" [formGroupName]="i">

        <mat-form-field fxFlex hidden>
          <input matInput placeholder="Item ID" formControlName="itemID" #itemID type="number">
        </mat-form-field>
        <mat-form-field fxFlex hidden>
          <input matInput placeholder="isDamaged" formControlName="isDamaged" #isDamaged type="number">
        </mat-form-field>
        <mat-form-field fxFlex hidden>
          <input matInput placeholder="colisage" formControlName="colisage" type="number">
        </mat-form-field>
        <mat-form-field fxFlex class="itemName" style="text-align: center;">
          <input matInput placeholder="Article" formControlName="itemName" type="text" name="nameInput" tabIndex="-1"
            [readonly]="true">
        </mat-form-field>
        <mat-form-field fxFlex class="itemInputs">
          <input matInput placeholder="CRT" formControlName="crt" type="number" min="0" id="crt{{i}}"
          onkeydown="javascript: return event.keyCode == 69 ? false : true" (change)="checkQuantity(i)">
        </mat-form-field>
        <mat-form-field fxFlex class="itemInputs">
          <input matInput placeholder="Piece" formControlName="piece" type="number" min="0" id="piece{{i}}"
          onkeydown="javascript: return event.keyCode == 69 ? false : true" (change)="checkQuantity(i)">
        </mat-form-field>
        <mat-form-field fxFlex class="itemName">
          <input matInput placeholder="Comment" formControlName="comment" type="text">
        </mat-form-field>

        <button mat-icon-button (click)="deleteItem(i,itemID,isDamaged)" color="warn" tabindex="-1">
          <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
        </button>
      </div>

    </div>

    <!-- <button mat-raised-button id="submit" class="addBtns" color="primary" (click)="addEditReturnInvoice()" [disabled]="!invoiceForm.valid || itemsForm.length == 0 " >Soumettre</button> -->
    <button mat-raised-button id="update" class="addBtns" color="primary" (click)="editClientInvoice()" [disabled]="!invoiceForm.valid || itemsEditForm.length == 0 " >Mis à Jour</button>
    <div id="submit">
      <button mat-raised-button name="addButton" class="addBtns" color="primary" (click)="addClientInvoice(false)"
        [disabled]="!invoiceForm.valid || itemsForm.length == 0">Soumettre</button>
  
      <button mat-raised-button name="submitPrint" class="addBtns" color="primary" (click)="addClientInvoice(true)"
        [disabled]="!invoiceForm.valid || itemsForm.length == 0">Soumettre et Imprimer</button>
    </div>
  </form>
</div>


<ng-template #mutliSelectModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Items</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered table-hover table-sm noselect " id="stockDT">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button mat-raised-button (click)="addItemsToFacture()" color="primary">Add Items</button>
  </div>
</ng-template>

<ng-template #clientModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Client</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form fxLayout="column" [formGroup]="clientForm" autocomplete="off">
        <div class="input-row" fxLayout="row">
          <mat-form-field class="inputField" fxFlex>
            <input matInput placeholder="Name" formControlName="name" type="text" name="nameInput" autofocus>
            <mat-error> client name is required with minimum 3 letters</mat-error>
            <!-- <mat-error *ngIf="isExist == true"> client exist</mat-error> -->
          </mat-form-field>
          <span *ngIf="isExist == true" style="color:red"> Client exist!</span>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field class="inputField" fxFlex>
            <input matInput placeholder="Phone Number" formControlName="phone" type="text">
            <mat-error> client phone is required</mat-error>
          </mat-form-field>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field class="inputField" fxFlex>
            <input matInput placeholder="Address" formControlName="address" type="text">
            <mat-error> client address is required</mat-error>
          </mat-form-field>
        </div>
        
      </form>
    </div>
    <div class="modal-footer">
      <button mat-raised-button name="addButton" color="primary" (click)="addClient()" [disabled]="!clientForm.valid || isExist == true">Add</button>
    </div>
  </ng-template>

<div class="table table-striped" id="printFacture" hidden>

  <h4>Client Name: {{clientName.value}}</h4>


  <table class="table table-responsive table-bordered text-center test " style="width:100%;">
    <thead>
      <tr>
        <th>Name</th>
        <th>CRT</th>
        <th>Piece</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of this.itemsForm.value; let i = index">
            <td>{{item.itemName}}</td>
            <td>{{item.crt}}</td>
            <td>{{item.piece}}</td>
            <td>{{item.comment}}</td>
          </tr>
    </tbody>
  </table> 

</div>