<div class="container-fluid noselect">
  <button mat-raised-button color="primary" (click)="editFlag=false;openStockModal(stockModal)">
    <i class="material-icons">add</i> Ajouter Article
  </button>

  <hr>
  <p-contextMenu [target]="contextScope" [model]="items" oncontextmenu="return false;"></p-contextMenu>

  <table class="table table-striped table-bordered table-hover table-sm noselect " id="stocksDT">
    <thead>

    </thead>
    <tbody #contextScope>
    </tbody>
  </table>
</div>


<div hidden>
  <button id="editStockBtn" (click)="editFlag=true;openStockModal(stockModal)"></button>
  <button id="transferBtn" (click)="openTransferModal(transferModal)"></button>
  <button id="deleteBtn" (click)="deleteItem()"></button>
  <button id="chartBtn" (click)="openChartModal(chart)"></button>
</div>



<ng-template #stockModal let-c="close" let-d="dismiss">
  <div class="modal-header noselect">
    <h4 class="modal-title" id="modal-basic-title">{{stockModalTitle}} Article</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body noselect">
    <form fxLayout="column" [formGroup]="stockForm" autocomplete="off">
      <div class="input-row" fxLayout="row">
        <mat-form-field class="inputField" fxFlex>
          <input matInput placeholder="Nom de l'article" formControlName="name" type="text" name="nameInput" autofocus>
          <mat-error> Le nom de l'article est requis avec au moins 3 lettres</mat-error>
        </mat-form-field>
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field class="inputField" fxFlex>
          <input matInput placeholder="Colisage" formControlName="colisage" type="number">
          <mat-error> Colisage est requis</mat-error>
        </mat-form-field>
      </div>

    </form>
  </div>
  <div class="modal-footer noselect">
    <button mat-raised-button name="addButton" color="primary" (click)="addEditStock()" [disabled]="!stockForm.valid">{{stockModalTitle}}</button>
  </div>
</ng-template>

<ng-template #transferModal let-c="close" let-d="dismiss">
  <div class="modal-header noselect">
    <h4 class="modal-title" id="modal-basic-title">Transfert à endommagé</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body noselect">
    <form fxLayout="column" [formGroup]="transferForm" autocomplete="off">
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field class="inputField" fxFlex>
          <input matInput placeholder="CRT" formControlName="crt" type="number">
          <mat-error> Doit être inférieur au CRT du stock</mat-error>
        </mat-form-field>
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field class="inputField" fxFlex>
          <input matInput placeholder="Piece" formControlName="piece" type="number">
          <mat-error> Doit être moins qu'une pièce de stock</mat-error>
        </mat-form-field>
      </div>

    </form>
    <mat-error *ngIf="maxPiece < (tCRT * tcolisage) + tPiece">vous dépassez le stock total ..change le plus tard</mat-error>
    <mat-error *ngIf="(tCRT * tcolisage) + tPiece == 0 ">vous ne pouvez pas transférer 0 pièce ..change le plus tard</mat-error>
  </div>
  <div class="modal-footer noselect">
    <button mat-raised-button name="addButton" color="primary" (click)="submitTransfer()" [disabled]="!transferForm.valid || (tCRT * tcolisage) + tPiece == 0 || maxPiece < (tCRT * tcolisage) + tPiece">Transfert</button>
  </div>
</ng-template>


<ng-template #chart let-c="close" let-d="dismiss">
  <div class="modal-header noselect">
    <h4 class="modal-title" id="modal-basic-title">Chart</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body noselect">
    <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
  </div>
  <div class="modal-footer noselect">

  </div>
</ng-template>