<div class="container-fluid noselect">
    <div class="factureHeader" >
        {{editFactureTitle}}
    </div>
    <form [formGroup]="invoiceForm" autocomplete="off"  #f="ngForm">
      <div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

          
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field class="searchClient" fxFlex>
        
                  <input matInput placeholder="Client" formControlName="clientName" type="text" name="nameInput"
                    [matAutocomplete]="auto" autofocus>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearClientName()">
                      <mat-icon>close</mat-icon>
                  </button>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option (onSelectionChange)="setClientName(option.perID,option.per_name)" *ngFor="let option of options"
                      [value]="option.name">{{option.per_name}}
                      || {{option.per_code}}</mat-option>
                  </mat-autocomplete>
                  <mat-error> Le nom du client est requis</mat-error>
                </mat-form-field>
              </div>
          <mat-form-field class="inputField">
            <input matInput formControlName="invoiceDate" placeholder="Date de Commande" readonly=true>
          </mat-form-field>  
            <button class="addBtns" id="multiSelectBtn" mat-raised-button color="primary" (click)="openMultiSelect(mutliSelectModal)"
            style="float:right">
            <i class="material-icons">subdirectory_arrow_left</i> Sélection Multiple

          </button>
  
        </div>
      </div>
      <hr>
      <div formArrayName="itemsEdit">
        <div *ngFor="let item of itemsEditForm.controls; let i=index" [formGroupName]="i" >
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" 
          *ngIf=" itemsEditForm.controls[i].get('isDeleted').value != 1 && itemsEditForm.controls[i].get('status').value != 0 ">
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="Item ID" formControlName="itemID" #itemID type="number">
            </mat-form-field>
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="isDamaged" formControlName="isDamaged" #isDamaged type="number">
            </mat-form-field>
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="colisage" formControlName="colisage" type="number">
            </mat-form-field>
            <mat-form-field fxFlex class="itemName" style="text-align: center;">
              <input matInput placeholder="Article" formControlName="itemName" type="text" name="nameInput" tabIndex="-1"
                [readonly]="true">
            </mat-form-field>
            <mat-form-field fxFlex class="itemInputs">
              <input matInput placeholder="CRT" formControlName="crt" type="number" min="0"  id="crtEdit{{i}}"
              onkeydown="javascript: return event.keyCode == 69 ? false : true"  >
            </mat-form-field>
            <mat-form-field fxFlex class="itemInputs">
              <input matInput placeholder="Piece" formControlName="piece" type="number" min="0" 
              onkeydown="javascript: return event.keyCode == 69 ? false : true" >
            </mat-form-field>
            <button mat-icon-button (click)="deleteItemEdit(i)" color="warn" tabindex="-1">
              <mat-icon aria-label="Effacer l'article" title="Effacer l'article">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div formArrayName="items">
        <div *ngFor="let item of itemsForm.controls; let i=index" [formGroupName]="i">
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="Item ID" formControlName="itemID" #itemID type="number">
            </mat-form-field>
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="isDamaged" formControlName="isDamaged" #isDamaged type="number">
            </mat-form-field>
            <mat-form-field fxFlex hidden>
              <input matInput placeholder="colisage" formControlName="colisage" type="number">
            </mat-form-field>
            <mat-form-field fxFlex class="itemName" style="text-align: center;">
              <input matInput placeholder="Name" formControlName="itemName" type="text" name="nameInput" tabIndex="-1"
                [readonly]="true">
            </mat-form-field>
            <mat-form-field fxFlex class="itemInputs">
              <input matInput placeholder="CRT" formControlName="crt" type="number" min="0" id="crt{{i}}"
              onkeydown="javascript: return event.keyCode == 69 ? false : true">
            </mat-form-field>
            <mat-form-field fxFlex class="itemInputs">
              <input matInput placeholder="Piece" formControlName="piece" type="number" min="0" 
              onkeydown="javascript: return event.keyCode == 69 ? false : true">
            </mat-form-field>
            <button mat-icon-button (click)="deleteItem(i,itemID,isDamaged)" color="warn" tabindex="-1">
              <mat-icon aria-label="Effacer l'article" title="Effacer l'article">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
  
      <button mat-raised-button id="submit" class="addBtns" color="primary" (click)="addReturnInvoice()" [disabled]="!invoiceForm.valid || itemsForm.length == 0 " >Soumettre</button>
      <button mat-raised-button id="update" class="addBtns" color="primary" (click)="editReturnInvoice()" [disabled]="!invoiceForm.valid || itemsEditForm.length == 0  || lengthDeleted == 0 " >Mis à Jour</button>
    </form>
  </div>
  
  
  <ng-template #mutliSelectModal let-c="close" let-d="dismiss">
    <div class="modal-header noselect">
      <h4 class="modal-title" id="modal-basic-title">Items</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body noselect">
      <table class="table table-striped table-bordered table-hover table-sm noselect " id="stockDT">
        <thead>
  
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="modal-footer noselect">
      <button mat-raised-button (click)="addItemsToFacture()" color="primary">Add Items</button>
    </div>
  </ng-template>